# Blockchain
BLOCKCRED_CONTRACT_ADDRESS=0x...
PRIVATE_KEY=your_wallet_private_key
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
RPC_URL=http://127.0.0.1:8545

# Backend
PORT=4000
AI_URL=http://localhost:8001/predict

# Firebase
FIREBASE_API_KEY=your_api_key
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_AUTH_DOMAIN=your_auth_domain
FIREBASE_DATABASE_URL=your_database_url
FIREBASE_STORAGE_BUCKET=your_storage_bucket

# IPFS (nft.storage)
NFT_STORAGE_KEY=your_nft_storage_key

# Frontend
NEXT_PUBLIC_CONTRACT_ADDRESS=0x...
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
